body {
  background-color: #edf3f8;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header{
  display: flex;
  width: 600px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#left-header, #right-header {
  width: 50%;
}

#right-header {
  text-align: right;
}

h1 {
  color: #1d3549;
  margin-top: 0px;
  margin-bottom: 10px;
}

#how-to, #preferences {
  background-color: #2b506e;
  color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 4px;
}

#how-to {
  margin-top: 3px;
}

#preferences {
  margin-top: 10px;
}

#score { 
  display: flex;
  justify-content: flex-end;
}

.score-section {
  background-color: #4078a5;
  color: white;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  border: 2px solid #24435c;
  margin-left: 10px;
}

button:focus {
  outline: 0;
}

#difficulty {
  margin: 0 auto;
}

#menu {
  display: flex;
  flex-direction: column;
  font-size: 0;
  border: 5px solid #24435c;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#easy, #medium, #hard {
  background-color: #c8daea;
  border: none;
  color: midnightblue;
  margin: 0px;
  display: inline-block;
  width: 200px;
  height: 30px;
}

#easy:hover, #medium:hover, #hard:hover {
  background: #b6cee2;
}

#easy {
  border-radius: 5px 0px 0px 0px;
}

#medium {
  border-radius: 0px;
}

#hard {
  border-radius: 0px 5px 0px 0px;
}

#color-select{
  background-color: #c8daea;
  height: 90px; /* Temp value */
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin: 0 auto;
}

#color-select div {
  margin-top: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid #2b506e;
  cursor: pointer;
  transition: all 250ms;
}

#color-select div:hover {
  transform: scale(1.1);

}

#game-board{
  border: 5px solid #24435c;
  background-color: #c8daea;
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.blue {
  background-color: #1E90FF;
}

.green {
 background-color: #008000;
}

.yellow {
 background-color: #FFD700;
}

.orange {
  background-color: #FFA500;
}

.red {
 background-color: #F20E0E;
}

.purple {
  background-color: #800080;
}

.selected {
  background-color: #a3c2db !important;
}

.board-piece {
  height: 50px;
  width: 50px;
}

.row-pieces {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}